*{
    margin:0;
    padding:0;
}

html,body {
    height: 100%;
    letter-spacing:3px;
    text-align: center;
    font-size: 12px;
}

a:hover{
    text-decoration: none;
    color:#bba1c3;
}

/*ページ背景の設定 PC用*/
.home-background {
    /*background-image: url("../img/back.jpg");*/
    /* 画像ファイルの指定 */
    background-image: url(../img/back.jpg);

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;

    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;

    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;

    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;

    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #464646;
}

#bgWrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../img/texture.png);
    background-blend-mode: multiply;
    -webkit-transition: background-color 2s ease-in;
}
#gloss {
    position: fixed;
    width: 100%;
    height: 180px;
    background: url(../img/gloss.png) repeat-x;
    background-blend-mode: multiply;
}

/*ヘッダ*/
header{
}

header,footer{
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}
header img{
    height: 100px;/*大きさの指定*/
    margin:30px 0px 30px 0px;
}

/*ナビ*/
#nav{
    margin: 0;
    background-color: #3e3e3e;
    mix-blend-mode : hard-light; /* オーバーレイを指定 */

    opacity: 0.8;
    color:#fff;
    padding-top: 2px;
    background-blend-mode: darken;
}
#nav a{
    color:#fff;
    margin: 3px;
    margin-right: 9px;
}
/*コンテンツ*/
.container{
    background: #fff;
    text-align: left;
    padding: 30;
    padding-top: 0px;
    margin: auto;
    border-radius: 10px;
}

footer{
    color:#675931;
    background-color: rgb(33, 33, 33);
    height: 50px;
    padding: 10px;
}


/*ギャラリーの設定*/
.gallery{
    text-align: left;
    padding:10;
    margin-right: 4px;

    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
}

.gallery img{
    height: 60px;/*大きさの指定*/
}
.appgallery{
}
.appgallery p{
    display:none;
    background-color: aqua;
}
.appgallery img{
    height: 65px;/*大きさの指定*/
    margin-left: -4px;
    margin-right: 0px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
.appgallery a{
    /*	リンクを消す*/
    /*	pointer-events:none;*/
}

/*おしごとの設定*/
h4{
    color:#675931;
}
h4.mg{
    margin-top: 40px;
}
h5{
    font-weight:500;
}
.btn{
    margin-bottom: 5px;
}
.media img{
    height:100px;
}
.container p a{
    position: relative;
    z-index: 2;
    margin-left: 3px;
    margin-right:4px;
}
.container a{
    position: relative;
    z-index: 2;
}

/*トップページ用*/
.topWrap{
    text-align: center;
}
#infoBox{
    color: #000;
    position:absolute;
    bottom: 30px;
    right: 30px;
    opacity: 0.8;
    /*line-height:0px;*/
    text-align:left;
}
#infoBox img{
    height:50px;
    vertical-align: top;
}
.HeterocongerHassi dd{
    margin-left:0; /*初期でかかっているmarginをリセット*/
}
.HeterocongerHassi dt , .HeterocongerHassi_text{
    display:inline-block;
    vertical-align:middle;
}

.clickable{
    position: relative;
    z-index: 2;
}
/*
#imagelightbox{
}*/
img#imagelightbox{
    position: fixed;
    z-index: 9999;

    display: inline-block;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased; /* Safari での Default値 */
}

.disabledImg {
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* W3C */
    cursor: default;
}

.container {
    /*position: fixed;*/
    overflow: auto;  /* スクロール表示 */
    transform: translateZ(0); /*Retinaディスプレイmacでスクロールするためのおまじない*/

    text-align: left;
    width: 800px;
    height: 500px;
}

.box{
}

/*常にスクロールバーを表示*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*infoアイコン*/
.gl_icon{
    margin-right: 3px;
    top: -3px;
    height: 1.2em;
    width: 1.2em;
    opacity: 0.6;
}

/*スマホ対応*/
@media screen and (max-width: 480px) {
    html,body {
        height: 100%;
        letter-spacing:0px;
        text-align: center;
        font-size: 12px;
    }
    /*ヘッダ*/
    header{
        width: 100%;
    }

    header,footer{
        user-select: none; /* CSS3 */
        -moz-user-select: none; /* Firefox */
        -webkit-user-select: none; /* Safari、Chromeなど */
        -ms-user-select: none; /* IE10かららしい */
    }
    header img{
        height: 50px;/*大きさの指定*/
        margin:10px 0px 10px 0px;
    }
    #infoBox{
        color: #000;
        position:fixed;
        bottom: 0;
        right: 0;
        left:0;
        opacity: 0.8;
        /*line-height:0px;*/
        text-align:center;
    }
    #infoBox img{
        height:50px;
        width: auto;
        vertical-align: center;
    }
    .box{
        height:auto;
    }
    .container {
        /*position: fixed;*/
        overflow: auto;  /* スクロール表示 */
        transform: translateZ(0); /*Retinaディスプレイmacでスクロールするためのおまじない*/
        padding: 7px;
        text-align: left;
        width: 100%;
        height: 65%;
        margin-top: 5px;
        border-radius: 0px;
        /*margin-left: 5px;*/
        /*margin-right: 5px;*/
    }
    /*常にスクロールバーを表示*/
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        /*-webkit-border-radius: 4px;*/
        /*border-radius: 8px;*/
    }

    ::-webkit-scrollbar-thumb {
        /*-webkit-border-radius: 8px;*/
        /*border-radius: 4px;*/
        background-color: rgba(0,0,0,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}
